body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

button{
    cursor: pointer;
}

figcaption{
    text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
}
#header-right-side{
    display: flex;
    gap:1rem;
}

#top-button,#bottom-button{
    margin-top: 1rem;
    color: #F9FAF8;
    background-color: #3882F6;
    width: 5rem;
    border-radius: 1rem;
    padding:1rem;
    font-size: 1rem;
    border-style: solid;
    text-decoration: none;
    text-align: center;
}

#header a[href*="facebook.com/"], #bottom-bar a[href*="facebook.com/"] {
  background: url(https://www.facebook.com/favicon.ico) no-repeat left center;
  padding-left: 23px;
  background-size: contain;
}
#header a[href*="youtube.com/"],#bottom-bar a[href*="youtube.com/"]  {
    background:url(https://www.youtube.com/favicon.ico) no-repeat left center;
    padding-left:23px;
    background-size:contain;
}
#hero{
    display: flex;
    justify-content: center;
}
#showcase{
    display: flex;
    justify-content: center;
}
#band-splash{
    width: 50em;
    height: auto;
}
#past-engagements{
    display: flex;
    justify-content: center;
}
#footer {
  display: flex;
  justify-content: center;
}

#past-engagements img{
    width:33.33%;
}

#bottom-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}